.accordion, div.panel-contents{
    background-color: white;
    color: #444;
    padding: 0rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-top: 1%;
    transition: 0.4s;
    display: grid;
    grid-template-columns: 1% 1.5% 14% 20% 12% 8% 12% 10% 5% 9%;
    column-gap: 1%;
    font-size: 15px;
    font-weight: 500;
  }
  .accordion-icon:hover{
    cursor: pointer;
  }
  
  
  
*/
  
  .panel {
    /* padding: 0 18px; */
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  div.product-actions{
    display: none;
}
div.editing{
    display: none; 
}

span.editprod:hover, span.deleteprod:hover, span.updatequan:hover, span.editprodSub:hover, span.deleteprodSub:hover{
    cursor: pointer;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 45%;
  top: 25vh;
  left: 25%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  height: 65vh;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal h3{
  /* margin-left: 4%; */
  margin-bottom: 0.5rem;
  background: #0C2E82;
  color: white;
  height: 1.5rem;
  padding-top: 1%;
  padding-left: 3.6%;
  
}

.modal > .editBody{
  /* margin-top: 1%; */
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 4%;
  margin-left: 4%;
}
div.editBody .editDetails{
  /* margin-top: 1.3rem; */
}

div.editBody .editDetails > p, div.editBody .editDescription > p{
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1.2rem;
}

.editDetails input, .editDescription input{
  width: 95%;
  height: 4vh;
  background: #F3F3F3;
  outline: 0;
  border: 1px solid #bbb4b4;
  border-radius: 5px;
  padding-left: 5%;
  font-size: 1rem;
}

div.editDescription button{
  margin-top: 1.3rem;
  height: 5vh;
  margin-right: 1rem;
  font-weight: bold;
  color: white;
  border: 0;
  padding: 0.5rem;
  border-radius: 5px;
}

div.editDescription button:hover{
  cursor: pointer;
}

.editDescription h3{
  margin-top: 0;
}

.cancelUpdate{
  background: rgb(190, 32, 32);
}
.doUpdate{
  background: #0C2E82;
}


