.accordion, div.panel-contents{
    background-color: white;
    color: #444;
    padding: 0rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    margin-top: 1%;
    transition: 0.4s;
    display: grid;
    grid-template-columns: 1% 1.5% 14% 20% 12% 8% 12% 10% 5% 9%;
    column-gap: 1%;
    font-size: 15px;
    font-weight: 500;
  }
  .accordion-icon:hover{
    cursor: pointer;
  }
  
  
  
*/
  
  .panel {
    /* padding: 0 18px; */
    /* background-color: white; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  div.product-actions{
    display: none;
}
div.editing{
    display: none; 
}

span.editprod:hover, span.deleteprod:hover, span.updatequan:hover, span.editprodSub:hover, span.deleteprodSub:hover, span.addprodSub:hover{
    cursor: pointer;
}

#backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  pointer-events: none;
  display: none;
}

#backdrop.visible {
  display: block;
  pointer-events: all;
}

.modal {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 45%;
  top: 25vh;
  left: 25%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  height: 65vh;
}

.modal.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal-delete {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 34%;
  top: 25vh;
  left: 35%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  height: 55vh;
}

.modal-delete .deleteBody{
  width: 85%;
  margin: 0 auto;
}

.modal-delete.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal-qty-update {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 30%;
  top: 25vh;
  left: 35%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  height: 45vh;
}

.modal-add-items {
  position: fixed;
  z-index: 100;
  background: white;
  border-radius: 10px;
  width: 45%;
  top: 20vh;
  left: 30%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: none;
  height: 65vh;
}

.modal-add-items.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}

.modal-qty-update > .qtyUpdateBody{
  width: 90%;
  margin: 0 auto;
}

.modal-qty-update.visible {
  display: block;
  animation: fade-slide-in 0.3s ease-out forwards;
}



.modal-qty-update .head, .modal-qty-update .mainProduct{
  /* margin-top: 1%; */
  display: grid;
  grid-template-columns: 55% 30%;
  column-gap: 4%;
  margin-left: 4%;
}

.modal-qty-update .head{
  font-size: 1.2rem;
  font-weight: bold;
}

.modal-qty-update .mainProduct > input{
  width: 65%;
  height: 3vh;
  padding: 0.2rem;
  font-size: 1.1rem;
}

.modal-qty-update .mainProduct > label{
  padding-top: 0.2rem;
  font-size: 1.1rem;
}

.modal-qty-update .mainProduct {
  margin-bottom: 5%;
}

.modal-qty-update .qtyUpdateBtns{
  width: 90%;
  margin: 0 auto;
  text-align: center;
}


.modal h3, .modal-delete h3, .modal-qty-update h3, .modal-add-items h3{
  margin-bottom: 0.5rem;
  background: #0C2E82;
  color: white;
  height: 1.5rem;
  padding-top: 1%;
  padding-left: 3.6%;
  text-align: center;
  
}

.modal > .editBody, .modal-add-items > .editBody{
  /* margin-top: 1%; */
  display: grid;
  grid-template-columns: 45% 45%;
  column-gap: 4%;
  margin-left: 4%;
}
div.editBody .editDetails{
  /* margin-top: 1.3rem; */
}

div.editBody .editDetails > p, div.editBody .editDescription > p{
  margin-bottom: 0.2rem;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1.2rem;
}

.editDetails input, .editDescription input{
  width: 95%;
  height: 4vh;
  background: #F3F3F3;
  outline: 0;
  border: 1px solid #bbb4b4;
  border-radius: 5px;
  padding-left: 5%;
  font-size: 1rem;
}

div.editDescription button, .removeProduct button, .qtyUpdateBtns button{
  margin-top: 1.3rem;
  height: 5vh;
  margin-right: 1rem;
  font-weight: bold;
  color: white;
  border: 0;
  padding: 0.5rem;
  border-radius: 5px;
}

div.editDescription button:hover, .removeProduct button:hover, .qtyUpdateBtns button:hover{
  cursor: pointer;
}

.editDescription h3{
  margin-top: 0;
}

.cancelUpdate, .cancelDelete, .cancelQtyUpdate, .cancelAddItem{
  background: rgb(190, 32, 32);
}
.doUpdate, .doDelete, .doQtyUpdate, .doAddItem{
  background: #0C2E82;
}

.deleteDetails > p{
  font-size: 1.2rem;
  padding: 3%;
}
.removeProduct button{
  margin-left: 4.7%;
  margin-top: 0.3rem;
}

div.summary{
  display: grid;
  grid-template-columns: 30% 30% 30%;
  width: 60%;
  margin: 0 auto;

}

.summary-items{
  width: 200px;
  height: 80px;
  text-align: center;
}

main > header{
  margin-bottom: 1%;
}

.totalNumberOfItems{
  border:3px solid #0C2E82;
}

.itemsInStock{
  border:3px solid #0C2E82;
}

.totalNumberOfCategories{
  border:3px solid #0C2E82;
}

.summary-items p{
  margin: 2px;
  padding: 2px;
}




